<div class="middle-section">
    <div class="intro-middle">
        <h2 data-aos="fade-right" data-aos-delay="400">Keep track of your snippets</h2>
        <p data-aos="fade-right" data-aos-delay="450">Clipboard instantly stores any item you copy in the cloud, meaning you can access your snippets immediately on all your devices. Our Mac and iOS apps will help you organize everything.</p>
    </div>
    <div class="row-middle" fxLayout="row wrap">
        <div class="img-col" data-aos='fade-right' data-aos-delay="550" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%" data-aos='fade-right' data-aos-delay="550">
            <img src="{{desktopImg}}" alt="computer"></div>
        <div class="text-col" data-aos='fade-left' data-aos-delay="650" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%" data-aos='fade-left' data-aos-delay="650">
            <div class='info-card' *ngFor='let indData of data; let i=index'>
                <h3>{{indData.title}}</h3>
                <p>{{indData.text}}</p>
            </div>
        </div>

    </div>
    <div class="intro-middle">
        <h2 data-aos="fade-left" data-aos-delay="100">Access Clipboard anywhere</h2>
        <p data-aos="fade-left" data-aos-delay="200">Whether you’re on the go, or at your computer, you can access all your Clipboard snippets in a few simple clicks.</p>
        <img src="{{devicesImg}}" alt="devices" data-aos="fade-up" data-aos-delay="300"></div>

</div>