<div class="footer-section">

    <div class="row-footer" fxLayout="row wrap" fxLayoutGap='20px'>
        <div class="img-col" fxFlex.xs="100%" fxFlex.sm="40%" fxFlex.lg="15%"><img src="{{logo}}" alt=""></div>
        <div class="text-col" fxFlex.xs="100%" fxFlex.sm="40%" fxFlex.lg="15%">
            <p>FAQs</p>
            <p>Contact Us</p>
        </div>
        <div class="text-col" fxFlex.xs="100%" fxFlex.sm="40%" fxFlex.lg="15%">
            <p>Privacy Policy</p>
            <p>Press Kit</p>
        </div>
        <div class="text-col" fxFlex.xs="100%" fxFlex.sm="40%" fxFlex.lg="15%">
            <p>Install Guide</p>
        </div>
        <div class="social-col" fxFlex.xs="100%" fxFlex.sm="40%" fxFlex.lg="30%">
            <i style="padding-right: '7px';" class='fab fa-facebook'></i>
            <i style="padding-right: '7px';" class='fab fa-twitter'></i>
            <i class='fab fa-instagram'></i>
        </div>
    </div>

</div>