$grayish-blue: hsl(201, 11%, 66%);
$dark-grayish-blue: hsl(210, 10%, 33%);
$strong-cyan: hsl(171, 66%, 44%);
.footer-section {
    padding: 5% 7%;
    text-align: center;
    background-color: $grayish-blue;
    .row-footer {
        .img-col {

        @media screen and (min-width:800px){
            width: 15%;
          
        }
        @media screen and (min-width:500px) and (max-width:800px){
            width: 38%;
        }
        width: 100%;
            img {
                margin-top: 10px;
                width: 70px;
            }
        }
        .social-col {

        @media screen and (min-width:800px){
            width: 15%;
          
        }
        @media screen and (min-width:500px) and (max-width:800px){
            width: 38%;
        }
        width: 100%;
            i {
                &:hover {
                    cursor: pointer;
                    transition: all 0.3s ease;
                    color: $strong-cyan !important;
                }
            }
        }
        .text-col {

        @media screen and (min-width:800px){
            width: 15%;
          
        }
        @media screen and (min-width:500px) and (max-width:800px){
            width: 38%;
        }
        width: 100%;
            @media screen and (min-width: 756px) {
                text-align: start !important;
            }
            p {
                color: $dark-grayish-blue;
                font-size: 15px;
                &:hover {
                    transition: all 0.3s ease;
                    color: $strong-cyan;
                    cursor: pointer;
                }
            }
        }
    }
}