<img class='backgroundTop' src="{{backTop}}" srcset="{{backTop}} 756w, {{backTopM}} 400w" alt="background">
<div class='top-section' data-aos="fade-up" data-aos-delay="100">
    <img src="{{logo}}" alt="clipboard logo">
    <h1>A history of everything you copy</h1>
    <p>Clipboard allows you to track and organize everything you copy. Instantly access your clipboard on all your devices.</p>
    <button class='btn green-btn' data-aos="fade-right" data-aos-delay="200">Download for iOS</button>
    <button class='btn blue-btn' data-aos="fade-left" data-aos-delay="200">Download for Mac</button>
</div>