<div class="companies-section">
    <div class="row-companies" fxLayout="row wrap" >
        <div class="img-col" fxFlex.xs="100%" fxFlex.sm="40%" fxFlex.md="17%"  fxFlex.lg="17%"><img src="{{google}}" alt="Google"></div>
        <div class="img-col" fxFlex.xs="100%" fxFlex.sm="40%"  fxFlex.md="17%" fxFlex.lg="17%"><img src="{{hp}}" alt="HP"></div>
        <div class="img-col" fxFlex.xs="100%" fxFlex.sm="40%" fxFlex.md="17%"  fxFlex.lg="17%"><img src="{{microsoft}}" alt="Microsoft"></div>
        <div class="img-col" fxFlex.xs="100%" fxFlex.sm="40%"  fxFlex.md="17%" fxFlex.lg="17%"><img src="{{ibm}}" alt="IBM"></div>
        <div class="img-col" fxFlex.xs="100%" fxFlex.sm="40%"  fxFlex.md="17%" fxFlex.lg="17%"><img src="{{vector}}" alt="Vector Graphics"></div>
    </div>
</div>